<!--<div id=meta>-->
    <!--<p class='byline author vcard signoff'>-->
        <!--by&nbsp;&#x203b;&nbsp;<span class=fn>alexandru&nbsp;totolici</span>-->
    <!--</p>-->
<!--</div>-->
<nav>
    <ul>
        <li><a href='/' title='home'>home</a></li>
        <li><a href='/atom.xml' title='rss'>rss</a></li>
        <li><a href='/email/' title='email'>email</a></li>
        <li><a href='http://alexandrutotolici.com' title='alexandru totolici'>&#x203b;</a></li>
        <li><a href='/essays/' title='essay archive'>essays</a></li>
        <li><a href='/colophon/' title='colophon'>colophon</a></li>
        <li><a href='http://mrtoto.net' target='_blank' title='bits (on Tumblr)'>bits</a></li>
    </ul>
</nav>
